@import "tailwindcss";
@import "./assets/iconfont/iconfont.css";
@import "tw-animate-css";
@import "./themes/default.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  a {
    color: var(--primary);
    text-decoration: none;
  }
  a:hover {
    color: #ff7031;
    text-decoration: underline;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground text-[14px] leading-[150%];
    background-image: linear-gradient(#97d2e8, #fff 350px);
    background-repeat: no-repeat;
  }
  html {
    @apply font-sans;
  }

  button {
    cursor: pointer;
  }

  blockquote {
    color: #7e7e7e;
    padding-left: 10px;
    margin: 10px 0;
    border-left: 3px solid #00ffff;
    background-color: #f8f8f8;
    word-break: break-all;
  }

  img {
    border: 0;
    vertical-align: middle;
  }
  abbr {
    border-bottom: 1px dashed #666;
    cursor: help;
  }
  pre.code,
  code,
  var {
    font-family: "Courier New", Courier, monospace;
  }

  .article {
    color: #555555;
    line-height: 22px;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    word-spacing: 1px;
    letter-spacing: 1px;
  }
  .article img {
    max-width: 98%;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    box-shadow: 0 0 8px #e1e1e1;
  }
  .article code {
    line-height: 16px;
    border-radius: 3px;
    word-spacing: normal;
    letter-spacing: normal;
    padding: 5px 10px;
    background: #ebf8ff;
  }
  .article p {
    line-height: 30px;
  }
  .article ol,
  ul {
    padding: 0 20px;
  }
  .article table {
    border-top: 1px solid #161515;
    border-left: 1px solid #ccc;
  }
  .article table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .article table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  .article table td,
  .article table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
  }

  span.highlight {
    color: #ff0000;
    position: absolute;
  }

  mark {
    background: orange;
    color: black;
  }

  table.list {
    width: 100%;
    font-size: 13px;
  }
  table.list th {
    border-bottom: 2px solid #d9e0ec;
    text-align: left;
    padding-left: 10px;
  }
  table.list td {
    border-bottom: 1px dashed #d9e0ec;
    border-top: 0 none;
    padding: 5px 10px;
  }
  table.list tr:hover {
    background: #eee;
  }
  table td.comment-num {
    padding: 0;
    text-align: right;
  }
  table td.comment-num a,
  table td.art-num a {
    background: none repeat scroll 0 0 #ccc;
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
  }
  table td.comment-num a:hover,
  table td.art-num a:hover {
    background: none repeat scroll 0 0 #89d5ef;
    text-decoration: none;
  }
}
