@import "tailwindcss";
@import "./assets/iconfont/iconfont.css";
@import "tw-animate-css";
@import "./themes/default.css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  a {
    color: var(--primary);
    text-decoration: none;
  }
  a:hover {
    color: #ff7031;
    text-decoration: underline;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground text-[14px] leading-[150%];
    background-image: linear-gradient(#97d2e8, #fff 350px);
    background-repeat: no-repeat;
  }
  html {
    @apply font-sans;
  }

  button {
    cursor: pointer;
  }
}

blockquote {
  color: #7e7e7e;
  padding-left: 10px;
  margin: 10px 0;
  border-left: 3px solid #00ffff;
  background-color: #f8f8f8;
  word-break: break-all;
}

img {
  border: 0;
  vertical-align: middle;
}
abbr {
  border-bottom: 1px dashed #666;
  cursor: help;
}
pre.code,
code,
var {
  font-family: "Courier New", Courier, monospace;
}
pre.code {
  margin: 0.3em 0;
  padding: 0.3em 0.5em;
  border: 1px solid #ccc;
  color: #666;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.input_text,
textarea,
select {
  border: 1px solid;
  border-color: #7c7c7c #c3c3c3 #ddd;
  font-size: 12px;
  line-height: 120%;
}
input,
button,
select {
  font-size: 12px;
  vertical-align: middle;
}
.input_text {
  padding: 3px 4px;
  line-height: 15px;
}
button.formbutton {
  padding: 0 1.5em;
  border: 1px solid;
  border-color: #66acff #094fa1 #094fa1 #66acff;
  background: #2680e9;
  color: #fff;
  letter-spacing: 0.3em;
  cursor: pointer;
}
.formbutton:focus {
  border-color: #fff;
}
input.cancel {
  margin-left: 2em;
}
select {
  padding: 2px 2px 2px 0;
  height: 21px;
}
option {
  padding: 0 2px;
}
textarea {
  padding: 4px;
  overflow: auto;
}
.line {
  padding: 0 5px;
  color: #ccc;
  font-family: Tahoma, "\u5B8B\u4F53";
}
form p {
  margin: 10px 0;
  line-height: 23px;
}
form p.error input,
form p.error textarea {
  border-color: red;
}
.nf {
  font-size: 13px;
}
.nf h3 {
  width: 400px;
  margin: 0.8em 0 0.5em 170px;
  border-bottom: 1px solid #eee;
  font-size: 13px;
  color: #444;
}
.nf .label_input {
  margin-right: 15px;
  text-align: right;
  width: 155px;
}
.nf .input_text {
  width: 200px;
}
.nf ul {
  list-style: none;
}
.nf li {
  margin: 0.5em 0;
}
.nf span.hint {
  display: block;
  margin-left: 170px;
  color: #666;
  font-size: 12px;
}
.nf span.hidden {
  display: none;
}
.nf p.err {
  color: red;
}
#container {
  width: 1024px;
  margin: 1em auto 0;
  min-height: 500px;
}
#main {
  width: 778px;
  overflow: hidden;
}
#header {
  width: 100%;
  padding: 0.25em 0 1.25em;
}
#header h1 {
  width: 225px;
}
#header h1 a {
  display: block;
  text-decoration: none;
}
#header h1 a span {
  display: none;
  margin-left: 0.5em;
  font-size: 13px;
  font-weight: normal;
}
#header h1 a:hover span {
  display: inline;
  color: #fff;
}
#navigation {
  height: 35px;
  margin: 0.5em 0 0;
  padding: 0 10px;
  background-color: #fff;
  border-radius: 8px;
  line-height: 35px;
  white-space: nowrap;
}
#navigation ul {
  list-style: none;
}
#navigation li {
  background: #fff;
}
#navigation li a {
  padding: 2px 7px;
}
#navigation li a:hover {
  background-color: #0066cc;
  color: #fff;
  text-decoration: none;
}
#sidebar {
  padding: 15px 10px 20px 18px;
  border: 1px solid #89d5ef;
  background: #fff;
  font-size: 13px;
}
#sidebar ul {
  list-style: none;
}
#sidebar ul.tlist {
  list-style: disc inside none;
}
#sidebar ul.tlist li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#sidebar .sect {
  margin: 0 0 1.5em;
}
#sidebar h2 {
  margin: 0 0 0 -10px;
  padding: 8px 5px 5px 10px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMUAAAAlCAMAAADFot1AAAAANlBMVEUAAAD////8/v/6/f73/P7z+/3w+f3r9/vt+Pzn9vvh8/rl9frc8vnU7vfG6fTM6/a55PK/5vPI1xmBAAAAAXRSTlMAQObYZgAAAW1JREFUWMPd1tuugyAQQFEug9ystv//sycVpOCIEk1Pgd2kjw0rzGgJIXZ64l5J06Y57YEbk0yUdWmf9KmlwSeiIMSjmI++I+Qxj+FXQ/KTWhuiBA6i+PKViXG2G70e0bO0Js6uYZBEnENMjsJyXVdMRhvjLh1RdGjXITYOeH9AnDJuC7DiKa1ZRnfEo2tTAhotIdLLKBDkp+nWRL2kLdm9s1m6en50+MsKGw+RF0hdtgu/GSG8F0p/1tlXeAGwie/1nfNjhdThcZSfoBuPIgz4gmKQTlA6QXWd3yvmQZ1dQDmA/RMAK8QgVcEK/H6FTxTHG1D3+b3iIUThBPEqAUEhTt9hUO35VwW0egGpAsoBrD6AU4wAUPsjqEDBk+O3MUFIYTj3gIYmaE/Bq/gXcU/ROMApLGtqAzIKzVjTAKeQrWzwsaLl0weFoqmgSQcZKG32CmJFBxFBO6gTBdAO6kTBaQd1omj9VeEUtIf+AGt9QDY3RRkOAAAAAElFTkSuQmCC)
    0 0 no-repeat;
  font-size: 14px;
  font-weight: normal;
}
#sidebar p {
  margin: 5px 0;
}
#sidebar .rss {
  list-style: none;
  display: inline-flex;
}
#sidebar .rss a {
  padding-left: 5px;
}
#sidebar #searchpanel .input_text {
  width: 125px;
}
#sidebar #searchpanel .formbutton {
  width: 60px;
  padding: 0;
  letter-spacing: 0;
}
#content {
  padding: 20px;
  border: 1px solid #89d5ef;
  background: #fff;
}
.tabs {
  position: relative;
  top: 1px;
  font-size: 14px;
}
.tabs ul {
  list-style: none;
}
.tabs li {
  margin: 0 0 0 5px;
}
.tabs li a {
  margin: 5px 0 0;
  padding: 2px 14px;
  background: #89d5ef;
  border: 1px solid #89d5ef;
  color: #333;
  text-decoration: none;
  display: inline-flex;
}
.tabs li a:hover {
  background: #fff;
  color: #ff7031;
}
.tabs li a.active {
  margin: 0;
  padding: 6px 16px 4px;
  border: 1px solid #89d5ef;
  border-bottom: 0;
  background: #fff;
}
#info {
  position: relative;
  margin: 0 0 10px;
  font-size: 13px;
}
#info #avatar {
  padding: 1px;
  border: 1px solid #89d5ef;
  background: #fff;
  overflow: hidden;
}
#info #avatar img {
  display: block;
  width: 96px;
  height: 96px;
}
#latest {
  min-height: 98px;
  margin-left: 20px;
  border: 1px solid #89d5ef;
  background: linear-gradient(#fff, #eeffde);
  word-spacing: 1px;
  letter-spacing: 1px;
}
#latest:before {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 110px;
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-right: 0.7rem solid #fff;
}
#latest {
  height: 98px;
}
#latest .current {
  padding: 10px;
  line-height: 120%;
  word-break: break-all;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: none;
}
#latest .current.active {
  display: block;
}
#latest .stamp {
  position: absolute;
  right: 10px;
  bottom: 5px;
  line-height: 120%;
  color: #8c8c8c;
  font-size: 12px;
}
#info .handle {
  position: absolute;
  bottom: 0;
  left: 125px;
  cursor: pointer;
  display: none;
  user-select: none;
}
#info .handle i.iconfont {
  font-size: 20px;
  color: rgba(48, 175, 255, 0.5);
}
#info .handle i.iconfont.icon-right {
  margin-left: -10px;
}
#info .handle i.iconfont:hover {
  color: rgba(48, 175, 255, 1);
}
#info:hover .handle {
  display: inline;
}

.article .entry-title {
  height: 54px;
  overflow: hidden;
}
.article .entry-title .avatar {
  padding: 2px;
  width: 40px;
  height: 40px;
}
.article .entry-title h2 {
  font-size: 14px;
}
.article .entry-title .entry-meta {
  color: #999;
  font-size: 12px;
}
.articles .post-meta {
  border-top: 1px dashed #dbdbdb;
  color: #999;
  margin-top: 20px;
  padding: 10px 0;
  text-align: right;
  font-size: 13px;
}
.article .entry {
  color: #555555;
  line-height: 22px;
  font-size: 14px;
  text-align: justify;
  word-wrap: break-word;
  hyphens: auto;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.article .entry img {
  max-width: 98%;
  border-radius: 3px;
  padding: 5px;
  background: #fff;
  -moz-box-shadow: 0 0 8px #aaa;
  -webkit-box-shadow: 0 0 8px #aaa;
  box-shadow: 0 0 8px #e1e1e1;
}
.article .entry .hljs {
  line-height: 16px;
  border-radius: 3px;
  word-spacing: normal;
  letter-spacing: normal;
  padding: 5px 10px;
}
.article .entry p {
  line-height: 30px;
}
.article .entry ol,
ul {
  padding: 0 20px;
}
.article .entry table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.article .entry table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.article .entry table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.article .entry table td,
.article .entry table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}
.article-single {
  margin-bottom: 10px;
}
.article-single .post-navi {
  overflow: hidden;
  font-size: 13px;
  margin-top: 15px;
}
.article-single .post-navi div {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
}
span.highlight {
  color: #ff0000;
  position: absolute;
}
.comment {
  font-size: 13px;
}
.comment h3 {
  border-bottom: 1px solid #cccccc;
  font-weight: bold;
  line-height: 30px;
  font-size: 14px;
}
.comment ul {
  margin: 10px 0 20px;
}
.comment ul,
.comment li {
  list-style: none;
}
.comment ul li {
  border-bottom: 1px dashed #dbdbdb;
  padding: 10px 0;
}
.comment a.avatar {
  display: block;
}
.comment a.avatar img {
  padding: 1px;
  border: 1px solid #ccc;
  background: #fff;
}
.comment a.avatar:hover img {
  border: 1px solid #ff7031;
}
.comment h4 {
  font-size: 12px;
}
mark {
  background: orange;
  color: black;
}
.admin #content {
  font-size: 13px;
}

.admin .tabs ul li {
  margin: 0 5px 0 0;
}
.admin .paginator {
  text-align: right;
  padding: 0;
}
.admin h2 {
  border-bottom: 1px solid #cccccc;
  color: #444444;
  font-size: 16px;
  line-height: 200%;
  margin: -10px 0 0 0;
}
.admin h2 a {
  margin-left: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.admin h2 a i {
  margin-right: 2px;
}
.operate {
  margin: 10px 0;
}
.label_input .desc {
  color: #666;
}
.vf {
  margin: 0 auto;
  width: 300px;
}
.vf label {
  font-weight: bold;
}
.vf .label_input {
  display: block;
  text-align: left;
}
.lf p {
  line-height: 26px;
}
.lf label.label_input {
  font-size: 14px;
  font-weight: normal;
}
.lf input.input_text {
  color: #444444;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  width: 280px;
}
.nf span.hint,
.vf span.hint {
  color: #666666;
  display: block;
  line-height: 150%;
  margin: 3px 0 3px 0;
  font-size: 12px;
}
.admin .message {
  padding: 5px 10px;
  margin: 10px 0 0;
  border-radius: 3px 3px 3px 3px;
}
.admin .message {
  background-color: #ffffe0;
  border: 1px solid #e6db55;
}
table.list {
  width: 100%;
  font-size: 13px;
}
table.list th {
  border-bottom: 2px solid #d9e0ec;
  text-align: left;
  padding-left: 10px;
}
table.list td {
  border-bottom: 1px dashed #d9e0ec;
  border-top: 0 none;
  padding: 5px 10px;
}
table.list tr:hover {
  background: #eee;
}
table td.comment-num {
  padding: 0;
  text-align: right;
}
table td.comment-num a,
table td.art-num a {
  background: none repeat scroll 0 0 #ccc;
  border-radius: 2px 2px 2px 2px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  padding: 2px 4px;
}
table td.comment-num a:hover,
table td.art-num a:hover {
  background: none repeat scroll 0 0 #89d5ef;
  text-decoration: none;
}
#sign-in {
  padding: 0 30px;
}
#sign-in h2 {
  border-bottom: 1px solid #cccccc;
  color: #444444;
  font-size: 16px;
  line-height: 200%;
  margin: 0 0 10px;
}
#articles .vf {
  width: 100%;
}
code {
  background: #ebf8ff;
  padding: 2px;
  border-radius: 3px;
}
