@import "tailwindcss";
@import "./assets/iconfont/iconfont.css";
@import "tw-animate-css";
@import "bytemd/dist/index.css";
@import "highlight.js/styles/vs.css";
@import "github-markdown-css/github-markdown.css";
@import "./themes/default.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  a {
    color: var(--primary);
    text-decoration: none;
  }
  a:hover {
    color: #ff7031;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground text-[14px] leading-[150%];
    background-image: linear-gradient(#97d2e8, #fff 350px);
    background-repeat: no-repeat;
  }
  html {
    @apply font-sans;
  }

  button {
    cursor: pointer;
  }

  blockquote {
    color: #7e7e7e;
    padding-left: 10px;
    margin: 10px 0;
    border-left: 3px solid #00ffff;
    background-color: #f8f8f8;
    word-break: break-all;
  }

  img {
    border: 0;
    vertical-align: middle;
  }
  abbr {
    border-bottom: 1px dashed #666;
    cursor: help;
  }

  .article {
    color: #555555;
    line-height: 22px;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    word-spacing: 1px;
    letter-spacing: 1px;
  }

  span.highlight {
    color: #ff0000;
    position: absolute;
  }

  mark {
    background: orange;
    color: black;
  }
}

/* Overrides for github-markdown-css */
.markdown-body {
  font-size: 14px;
}

.markdown-body ol,
ul {
  padding: 0 20px;
}
.markdown-body table {
  border-top: 1px solid #161515;
  border-left: 1px solid #ccc;
}
.markdown-body table {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}
.markdown-body table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.markdown-body table td,
.markdown-body table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}

.markdown-body img {
  max-width: 98%;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 4px #e1e1e1;
  margin: 10px 0;
}

.markdown-body p {
  margin-bottom: 0;
  line-height: 30px;
}

.markdown-body blockquote p {
  line-height: 24px;
}

.markdown-body pre code {
  font-size: 13px;
}

.medium-zoom-overlay {
  z-index: 100;
}
.medium-zoom-image--opened {
  z-index: 101;
}

.bytemd {
  height: calc(100vh - 350px);
}
