@import "tailwindcss";
@import "./assets/iconfont/iconfont.css";
@import "tw-animate-css";
@import "bytemd/dist/index.css";
@import "highlight.js/styles/vs.css";
@import "github-markdown-css/github-markdown.css";
@import "./themes/default.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  a {
    color: var(--primary);
    text-decoration: none;
  }
  a:hover {
    color: #ff7031;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground text-[14px] leading-[150%];
    background-image: linear-gradient(#97d2e8, #fff 350px);
    background-repeat: no-repeat;
  }
  html {
    @apply font-sans;
  }

  button {
    cursor: pointer;
  }

  blockquote {
    color: #7e7e7e;
    background-color: #f8f8f8;
  }

  mark {
    background: orange;
    color: black;
  }
}

/* Overrides for github-markdown-css */
.markdown-body {
  font-size: 14px;
  @apply font-sans;
}

.markdown-body ol,
.markdown-body ul {
  list-style: inside;
}
.markdown-body ol {
  list-style: decimal;
}

.markdown-body table th {
  border-bottom: 2px solid #ccc;
  text-align: center;
}
.markdown-body table td,
.markdown-body table th {
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 3px 5px;
}

.markdown-body img {
  max-width: 98%;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 4px #e1e1e1;
  margin: 10px 0;
}

.markdown-body p {
  margin-bottom: 0;
  line-height: 30px;
}

.markdown-body blockquote p {
  line-height: 24px;
}

.markdown-body pre code {
  font-size: 13px;
}

.medium-zoom-overlay {
  z-index: 100;
}
.medium-zoom-image--opened {
  z-index: 101;
}

.bytemd-editor-wrapper .bytemd {
  height: 500px;
}
