@import "tailwindcss";
@import "./assets/iconfont/iconfont.css";
@import "tw-animate-css";
@import "./themes/default.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  a {
    color: var(--primary);
    text-decoration: none;
  }
  a:hover {
    color: #ff7031;
    text-decoration: underline;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply font-sans bg-background text-foreground text-[14px] leading-[150%];
    background-image: linear-gradient(#97d2e8, #fff 350px);
    background-repeat: no-repeat;
  }
  html {
    @apply font-sans;
  }

  button {
    cursor: pointer;
  }

  blockquote {
    color: #7e7e7e;
    padding-left: 10px;
    margin: 10px 0;
    border-left: 3px solid #00ffff;
    background-color: #f8f8f8;
    word-break: break-all;
  }

  img {
    border: 0;
    vertical-align: middle;
  }
  abbr {
    border-bottom: 1px dashed #666;
    cursor: help;
  }
  pre.code,
  code,
  var {
    font-family: "Courier New", Courier, monospace;
  }
  pre.code {
    margin: 0.3em 0;
    padding: 0.3em 0.5em;
    border: 1px solid #ccc;
    color: #666;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }
  #container {
    width: 1024px;
    margin: 1em auto 0;
    min-height: 500px;
  }
  #main {
    width: 778px;
    overflow: hidden;
  }



  #content {
    padding: 20px;
    border: 1px solid #89d5ef;
    background: #fff;
  }
  .tabs {
    position: relative;
    top: 1px;
    font-size: 14px;
  }
  .tabs ul {
    list-style: none;
  }
  .tabs li {
    margin: 0 0 0 5px;
  }
  .tabs li a {
    margin: 5px 0 0;
    padding: 2px 14px;
    background: #89d5ef;
    border: 1px solid #89d5ef;
    color: #333;
    text-decoration: none;
    display: inline-flex;
  }
  .tabs li a:hover {
    background: #fff;
    color: #ff7031;
  }
  .tabs li a.active {
    margin: 0;
    padding: 6px 16px 4px;
    border: 1px solid #89d5ef;
    border-bottom: 0;
    background: #fff;
  }
  #info {
    position: relative;
    margin: 0 0 10px;
    font-size: 13px;
  }
  #info #avatar {
    padding: 1px;
    border: 1px solid #89d5ef;
    background: #fff;
    overflow: hidden;
  }
  #info #avatar img {
    display: block;
    width: 96px;
    height: 96px;
  }
  #latest {
    min-height: 98px;
    margin-left: 20px;
    border: 1px solid #89d5ef;
    background: linear-gradient(#fff, #eeffde);
    word-spacing: 1px;
    letter-spacing: 1px;
  }
  #latest:before {
    content: "";
    position: absolute;
    top: 0.9rem;
    left: 110px;
    width: 0;
    height: 0;
    border-top: 0.6rem solid transparent;
    border-bottom: 0.6rem solid transparent;
    border-right: 0.7rem solid #fff;
  }
  #latest {
    height: 98px;
  }
  #latest .current {
    padding: 10px;
    line-height: 120%;
    word-break: break-all;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: none;
  }
  #latest .current.active {
    display: block;
  }
  #latest .stamp {
    position: absolute;
    right: 10px;
    bottom: 5px;
    line-height: 120%;
    color: #8c8c8c;
    font-size: 12px;
  }
  #info .handle {
    position: absolute;
    bottom: 0;
    left: 125px;
    cursor: pointer;
    display: none;
    user-select: none;
  }
  #info .handle i.iconfont {
    font-size: 20px;
    color: rgba(48, 175, 255, 0.5);
  }
  #info .handle i.iconfont.icon-right {
    margin-left: -10px;
  }
  #info .handle i.iconfont:hover {
    color: rgba(48, 175, 255, 1);
  }
  #info:hover .handle {
    display: inline;
  }

  .article .entry {
    color: #555555;
    line-height: 22px;
    font-size: 14px;
    text-align: justify;
    word-wrap: break-word;
    hyphens: auto;
    word-spacing: 1px;
    letter-spacing: 1px;
  }
  .article .entry img {
    max-width: 98%;
    border-radius: 3px;
    padding: 5px;
    background: #fff;
    -moz-box-shadow: 0 0 8px #aaa;
    -webkit-box-shadow: 0 0 8px #aaa;
    box-shadow: 0 0 8px #e1e1e1;
  }
  .article .entry .hljs {
    line-height: 16px;
    border-radius: 3px;
    word-spacing: normal;
    letter-spacing: normal;
    padding: 5px 10px;
  }
  .article .entry p {
    line-height: 30px;
  }
  .article .entry ol,
  ul {
    padding: 0 20px;
  }
  .article .entry table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .article .entry table {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  .article .entry table th {
    border-bottom: 2px solid #ccc;
    text-align: center;
  }
  .article .entry table td,
  .article .entry table th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 3px 5px;
  }

  span.highlight {
    color: #ff0000;
    position: absolute;
  }

  mark {
    background: orange;
    color: black;
  }
  .admin #content {
    font-size: 13px;
  }

  .admin .tabs ul li {
    margin: 0 5px 0 0;
  }
  .admin .paginator {
    text-align: right;
    padding: 0;
  }
  .admin h2 {
    border-bottom: 1px solid #cccccc;
    color: #444444;
    font-size: 16px;
    line-height: 200%;
    margin: -10px 0 0 0;
  }
  .admin h2 a {
    margin-left: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .admin h2 a i {
    margin-right: 2px;
  }

  table.list {
    width: 100%;
    font-size: 13px;
  }
  table.list th {
    border-bottom: 2px solid #d9e0ec;
    text-align: left;
    padding-left: 10px;
  }
  table.list td {
    border-bottom: 1px dashed #d9e0ec;
    border-top: 0 none;
    padding: 5px 10px;
  }
  table.list tr:hover {
    background: #eee;
  }
  table td.comment-num {
    padding: 0;
    text-align: right;
  }
  table td.comment-num a,
  table td.art-num a {
    background: none repeat scroll 0 0 #ccc;
    border-radius: 2px 2px 2px 2px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
  }
  table td.comment-num a:hover,
  table td.art-num a:hover {
    background: none repeat scroll 0 0 #89d5ef;
    text-decoration: none;
  }

  code {
    background: #ebf8ff;
    padding: 2px;
    border-radius: 3px;
  }
}
