env: local
app_name: "blog"
common:
  debug: 'on'
  storage_path: storage/
  robot_token: ''
  ding_app_secret: ''
  token_secret: ''
  notify_url: ''
  notify_token: ''
database:
  blog:
    enable: true
    driver: mysql
    dsn: ''
    max_open_conns: 10
    max_idle_conns: 20
    show_sql: false
log:
  log_mode: "file"
  log_path: "./storage/logs/"
  log_format: "json"
  log_level: "info"
  log_max_files: 15
  log_sentry_dsn: ""
  log_sentry_type: "go"
  log_detail: true
oss:
  access_key: ''
  access_secret: ''
  endpoint: 'oss-cn-shanghai-internal.aliyuncs.com'
  bucket: ''
tencent_cloud:
  secret_id: ''
  secret_key: ''
